<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="Builder"
         name="Paths Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.emf.henshin.paths.builder.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="Nature"
         name="Paths Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.emf.henshin.paths.builder.Nature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.emf.henshin.paths.Builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Paths Nature commands"
            id="org.eclipse.emf.henshin.paths.Nature.category">
      </category>
      <command
            name="Add/RemovePaths Nature"
            defaultHandler="org.eclipse.emf.henshin.paths.builder.AddRemoveNatureHandler"
            categoryId="org.eclipse.emf.henshin.paths.Nature.category"
            id="org.eclipse.emf.henshin.paths.addRemoveNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.emf.henshin.paths.addRemoveNature"
               label="Disable Path builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="org.eclipse.emf.henshin.paths.Nature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.henshin.paths.addRemoveNature"
               label="Enable Path builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="org.eclipse.emf.henshin.paths.Nature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="pathProblem"
         name="Path Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.emf.henshin.paths.Start">
      </startup>
   </extension>
</plugin>
